{% extends 'base.html.twig' %}

{% block title %}Réservation (N.{{ booking.id }})  {% endblock %}

{% block body %}

{% set ad = booking.ad %}
{% set author = ad.author %}
<div class="container">
    <h1>Votre Réservation (N.{{ booking.id }})</h1>

    {% if app.request.query.get('withAlert') %}
        <div class="alert alert-success">
            <h4 class="alert-heading">Bravo !</h4>
            <p>Votre réservation auprès de <strong><a href="{{ path("user_show", {'slug': author.slug})}}">{{author.fullName}}</a></strong> pour l'annonce <strong><a href="{{ path("ads_show", {'slug': ad.slug})}}">{{ad.title}}</a></strong> à bien été pris en compte</p>
        </div>
    {% endif %}
    



    <div class="row">
        <div class="col mt-3">
            <div class="alert alert-light">
                <h2>Détails </h2>
                <dl class="row">
                    <dt class="col-md-4">Numéro</dt>
                    <dd class="col-md-8">{{booking.id}}</dd>
                    <dt class="col-md-4">Date d'arrivée</dt>
                    <dd class="col-md-8"> {{booking.startDate | date('d/m/Y')}} </dd>
                    <dt class="col-md-4">Date de départ</dt>
                    <dd class="col-md-8"> {{booking.endDate | date('d/m/Y')}} </dd>
                    <dt class="col-md-4">Nombre de nuits</dt>
                    <dd class="col-md-8"> {{booking.duration }}</dd>
                    <dt class="col-md-4">Montant total</dt>
                    <dd class="col-md-8">{{booking.amount}} &euro;</dd>
                    <dt class="col-md-4">Commentaire</dt>
                    <dd class="col-md-8">{{booking.comment}}</dd>
                </dl>
                <hr>

                <h2 class="alert-heading">Votre hôte</h2>
                <div class="row mb-3">
                    <div class="col-3">
                    <img src="{{author.picture}}"class="avatar avatar-medium" alt="avatar de {{author.fullName}}">
                        
                    </div>
                    <div class="col">
                        <h4><a href="{{path('user_show', {'slug': author.slug})}}">{{author.fullName}}</a></h4>
                        <span class="badge badge-primary">{{author.ads | length}} annonces</span>
                    </div>
                </div>
                {{author.description|raw}}
                <a href="{{path('user_show', {'slug': author.slug})}}" class="btn btn-primary">Plus d'info sur l'hôte</a>
            </div>
        </div>
        <div class="col mt-3">
            <h2>Votre hébergement</h2>
            <h4><a href="{{path('ads_show', {'slug': ad.slug})}}">{{ad.title}}</a></h4>
            <img src="{{ad.coverImage}}" alt="Image de {{ad.title}}" class="img-fluid">
            {{ad.content | raw}}

            <h4> <a href="{{path('ads_show', {'slug': ad.slug})}}" class="btn btn-primary">Plus de détails</a></h4>
        </div>
    </div>
</div>
{% endblock %}