{% set url = path('ads_show', {'slug': ad.slug}) %}
                
            <div class="col-md-4">
                    <div class="card bg-light mb-3">
                        <div class="card-header text-center">
                            {{ad.rooms}} chambres, <strong>{{ad.price}}&euro; / nuit</strong><br>
                            <small>Pas encore noté</small>
                        </div>
                        
                            <img src="{{ad.coverImage}}" alt="Image de l'appartement" style="height: 200px; widht: 100%; display: block">
                       

                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ url }}">
                                    {{ad.title}}
                                </a>
                            </h4>
                            <p class="card-text">
                                {{ad.introduction}}
                            </p>
                            <a href="{{ url }}" class="btn btn-secondary">En savoir plus</a>
                             {% if app.user and app.user == ad.author %}
                                  <a href="{{path('ads_edit', {'slug': ad.slug})}}" class="btn btn-primary">Modifier l'annonce</a>
                                  <a href="{{path('ads_delete', {'slug': ad.slug})}}" class="btn btn-danger" onclick="return confirm(`Etes vous sur de vouloir supprimer l'annonce : {{ad.title}} ?`)">Supprimer l'annonce</a>
                             {% endif %}
                        </div>
                    </div>
            </div>
